body{ font-family: "verdana"; margin: 0; padding: 0; background-color:#000; } 

#bungkus{ width: 800px; margin: auto; } 

header{ background-color: #09F; height: 80px; padding: 20px 0 0 20px; background-image:url(images/head.png);} 

header h1{ margin:0; height:auto; } 

nav{ background-color: #000; } 

nav ul{ display: inline-block; margin: 0; padding: 0; } 

nav ul li{ float: left; display: inline; } 

nav ul li a{ text-decoration: none; } 

.menu{ color: #FFF; padding:10px; background-color: transparent #999; } 

.menu:hover{ color:#FFF; background-color: #09C;}

#content{ padding: 10px; height: auto; } 

#content img{ margin: 0px; width: 780px} 

#content p{ font-size: 12px; text-align: justify; } 

#content h2 {color:#FFF; text-align:center; margin-top: 20px; margin-bottom: 20px;}

#content table p{ color:#FFF; font-size: 12px; text-align: justify;}

footer{ padding: 5px; } 

footer h5{ text-align: center; color:#FFF; }